.bubbles {
  &__header {
    color: $color-primary;
    font-family: $main-font;
    font-size: 50px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin-top: 127px;
    margin-bottom: 89px;
  }
  &__list {
    &__element {
      width: 331px;
      height: 269px;
      margin-bottom: 364px;
      @include media-breakpoint-up(sm) {
        margin-bottom: 145px;
      }
      & + & {
       @include media-breakpoint-up(lg) {
         margin-left: 110px;
       }
     }
   }
  }
  &__image {
    margin-top: 34px;
    text-align: center;
    @include media-breakpoint-up(sm) {
      width: 331px;
    }
  }
}

.bubble {
  $bubble-anime-time: 0.5s;
  border: 1px solid $border-color-2;
  border-radius: 14px;
  padding: 10px 20px;
  color: $text-color-3;
  font-family: $main-font;
  font-size: 15px;
  font-weight: 400;
  line-height: 23.32px;
  box-sizing: border-box;
  transition: height $bubble-anime-time;
  position: relative;
  @include media-breakpoint-up(sm) {
    width: 331px;
    padding: 46px 18px 46px 70px;
    height: 269px;
  }
  &:hover {
    background-color: $color-primary;
    width: 311px;
    height: 311px;
  }
  &:after {
    content: "";
    position: absolute;
    margin: auto;
    bottom: -11px;
    left: 50%;
    right: 0;
    width: 24px;
    height: 24PX;
    background-color: white;
    transform: rotate(45deg) translate(-251%, 257%);
    border-right: 1px solid $border-color-2;
    border-bottom: 1px solid $border-color-2;
    transition: bottom $bubble-anime-time;
  }
  &:hover::after {
    bottom: -11px;
    left: 63%;
    background-color: $color-primary;
  }
}