@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MYRIADPRO-REGULAR.woff');
}

$main-font: 'Montserrat', arial, sans-serif;
$text-font: 'Lora', serif;
$text-font-2: "Myriad Pro", arial, sans-serif;