.items-1 {
  &__header {
    color: $color-primary;
    font-family: $main-font;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
  }
}

.items-2 {
  margin-top: 30px;
  &__header {
    color: $color-primary;
    font-family: $main-font;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
  }
  &__text {
    color: $text-color-2;
    font-family: $text-font;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    max-width: 460px;
  }
}

.items-listing {
  &__item {
    margin-top: 18px;
    margin-bottom: 48px;
    & + & {
      margin-left: 5px;
    }
    &__image {
      padding: 40px;
      border: 1px solid $main-text-color;
      img {
        width: 199px;
        height: 199px;
      }
      &:hover {
        box-shadow: 2px 3px 19px 8px rgba(0, 0, 0, 0.09);
      }
    }
    &__text {
      margin-top: 39px;
      color: $main-text-color;
      font-family: $main-font;
      font-size: 15px;
      font-weight: 400;
      text-align: center;
    }
    &__price {
      color: $color-primary;
      font-family: $main-font;
      font-size: 15px;
      font-weight: 400;
      text-align: center;
    }
  }
  &__button, &__button.btn {
    color: $main-text-color;
    font-family: $main-font;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1.5px;
    border-color: $color-primary;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 13px 32px;
  }
}